
.topnav {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    background-color: maroon;
}

.topnav a {
    border-radius: 15px 15px 0px 0px;
    float: left;
    background-color: maroon;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a.active {
    background-color: #550000;
}

.topnav a:hover {
    background-color: hsl(0, 20%, 15%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: Verdana;
    margin: 0;
}

/* Style the header */
.header {
    background-color: maroon;
    color: #111;
    font-family: Consolas;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin:0;
    padding:10px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

    /* Left and right column */
    .column.side {
        width: 25%;
    }

    /* Middle column */
    .column.middle {
        width: 50%;
    }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background: #ddd;
    padding: 10px;
    text-align: center;
}
blockquote {
    font-style: italic;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px, 0px, 10px, 10px;
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.icons{
    text-decoration: none;
}
    .icons img {
        height: 50px;
    }
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float:left;
    margin: 15px;
    padding: 15px;
    max-width:30.5%;
}

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

